@use '../../../../shared/styles/helpers/' as *;
.audio__player {
    margin-top:  40px; 
    width: clamp(200px, 60vw, 710px);
    display: flex;
    flex-direction: row;
    justify-content: center;  
    align-items: center;
    -webkit-user-select: none;
    -ms-user-select: none;     
    user-select: none;
    gap: 20px;
    
    @include mobile {
            width:  530px ;;
            margin-top:  80px; 
        }
    @include mobile-s {
            width:  200px ;;
            gap: 10px;
        }
    &--preview {
        width: 70px;
        height: 70px;
        border-radius: calc(var(--border-radius) + 4px);
        margin: 0;
        position: relative;
        @include mobile {
            @include visually-hidden
        }
    }
    &--scale {
    position: relative;
    width: clamp(100px, 45vw, 390px);
    height: 4px; 
    background-color: var(--color-accent);
    border-radius: var(--border-radius-l);
    overflow: hidden; 
    filter: var(--drop-shadow);
    @include mobile {
            width:  150px ;;
    }    &-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 15px;
        
    }
    @include mobile-s {
            gap: 20px;
        }

    &-progress {
        position: relative;
        height: 100%;
        background: var(--color-black);
        border-radius: inherit;
        width: 0;

        transition: width 0.15s ease-in-out;

        html.is-dark-theme & {
            background-color: var(--color-white);
        }

        &::after {
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(50%, -50%);
            width: 8px;
            height: 8px;
            background: inherit;
            border-radius: 50%;
            box-shadow: 0 0 6px var(--color-dark);
        }
    }
}
    &--title {
        font-size: 16px ;
        margin : 0 ;
        padding: 0;
        color: var(--color-black);
        user-select: auto;
        @include mobile {
            font-size: 12px ;
        } 

        html.is-dark-theme & {
            color: var(--color-white);
        } 
    }
    
    &--time {
        font-family: Manrope;
        &-primary {
            font-size: 16px;
            justify-self: end;
            color: var(--color-black);
            transition: 0.1s color 0.1s ease-in-out;

            html.is-dark-theme & {
            color: var(--color-accent);
        } 
            @include mobile {
        font-size: 10px;
    }
        }
        &-secondary{
            justify-self: end;
            color: var(--color-black);;
            transition: 0.15s color 0.15s ease-in-out;

            html.is-dark-theme & {
            color: var(--color-accent);
        } 
            @include mobile {
        font-size: 10px;
    }
        }

        &-wrapper {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 1px;
    }
    } 
    &--functional {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1px;
        position: relative;
        top: 8px;
    }
    &--next {
        background: transparent;
        border: none;
        padding: 10px;
        @include mobile-s {
            padding: 4px
        }
        
    }
    &--pause {
        background: transparent;
        border: none;
        padding: 10px;
         @include mobile-s {
            padding: 4px
        } 
    }
    &--pause-icon {
        @include hover {
            transform: scale(1.01);
        }
        :active {
            transform: scale(0.98);
        }
    }
}
