@use '../../../shared/styles/helpers/' as *;

body {
  html.is-dark-theme & {
    background-image: url('/videos/dark-theme.gif');
    transition: 0.1s background-image 0.1s ease-in-out;
  }
}

.dark-theme-animation-container {
  position: fixed;
  inset: 0; 
  overflow: hidden;
  pointer-events: none; 
}

.dark-theme-switcher-circle {
  position: absolute;
  width: 350vmax; 
  height: 350vmax;
  border-radius: 50%;
  margin-top: -175vmax;
  margin-left: -175vmax;
  pointer-events: none;
  transform-origin: center;

  &-white {
    background-color: var(--color-white);
  }

  &-black {
    background-color: var(--color-dark-thin);
  }
}

.dark-theme-switcher {
  width: 44px;
  height: 44px;
  margin: 0; 
  flex-shrink: 0;
  color: var(--color-light);
  display: flex;
  align-items: center;
  background-color: transparent;
  margin-right: 0px;
  justify-content: center;
  outline: none;
  transition: 0.1s background-color 0.1s ease-in-out, color 0.1s ease-in-out, opacity 0.3s ease;
  border: none;
  position: relative;
  stroke: var(--color-white);

  &--disabled {
    opacity: 0.5;
  }
}