@font-face {
  font-family: 'Manrope';
  src: url('/fonts/Manrope-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Histress';
  src: url('/fonts/Histeriss - Demo.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Onerock';
  src: url('/fonts/Onerock.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ashborn';
  src: url('/fonts/Ashborn.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
