:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-dark-thin: #1a1a2e;
  --color-green :  #43b581 ; 
  --color-idle : #faa61a ; 
  --color-dnd: #f04747 ;
  --color-accent: #9a9797;
  --color-gray: #7e7e7e;
  --color-purple: #b399fdcb ; 
  --color-purple-2: #8a60f5;
  --color-purple-3: #a78bfa ;
  --color-puprle-dark: #6b46c1;
  --color-violet : rgba(138, 96, 245, 0.3);
  --color-aquamarine: rgba(29,158,117,.9);
  --color-aquamarine-dark : rgba(15,110,86,.9);
  --color-red-dark: rgba(255, 77, 77, .3) ; 
  
  --color-hover-purple : rgba(200, 180, 255, .9);
  --color-purple-hover : rgba(200, 180, 255, .9);
  --drop-shadow: drop-shadow(0 0 1px rgba(248, 243, 243, 0.103))
            drop-shadow(0 0 10px rgba(216, 210, 210, 0.37));;

  --border: var(--border-width-s) solid var(--color-white);

  --border-width-xl: 6px;
  --border-width-l: 4px;
  --border-width-m: 3px;
  --border-width-s: 1px;

  --border-radius-l: 12px;
  --border-radius-m: 10px;
  --border-radius: 8px;
  --border-radius-xs: 6px;
  --border-radius-xxs: 5px;
  --border-radius-xxxs: 4px;

  --font-family-base: 'Manrope';

  --container-padding-x: 16px;

  --transition-duration: 0.2s;
}
