@use '../../styles/helpers' as *;

.button {
  display: inline-flex;
  align-items: center;
  column-gap: 0.3em;
  padding: 8px 12px;
  color: var(--color-black);
  background-color: var(--color-white);
  border: 1px solid var(--color-white);
  border-radius: var(--border-radius-m);
  transition: 0.2s;

  @include hover {
    color: var(--color-white);
    background-color: var(--color-dark);
  }
  &__skip {
     transform: rotate(180deg) ;
      position: relative ;
      bottom: '4px' ; 
  }
  &:disabled {
    cursor: none;
    background-color: var(--color-gray);
    opacity: 50%;
  }
}
